.overviewPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 700px;
  // border: 2px solid gray;
  border-radius: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.rowBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.rowCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.overviewItems {
  // margin-top: 20px;
  margin-bottom: 100px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
